#UserNameSection
{
    	width: 400px;
}

#EmailSectionSection
{
    	width: 400px;
}

#PassWordSection
{
    	width: 400px;
}

#ConfirmationSection
{
    	width: 400px;
}

#LogInArea
{
    	width: 500px;
}

#RegisterArea
{
    width: 500px;
}